@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
//Buttons, Navbar, tags
button {
	padding: 2px 5px;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-size: $font-sm;
}


#focus-submit {
    display: none;
}

#restart-button, #done-button {
    display: none;
}

.primary-btn {
	color: white;
	border-radius: 10px;
	border: 2px solid #ffb703;
	background-color: #ffb703;
}

.primary-btn:active {
	transform: scale(0.9);
}


#change-image-button:active {
	transform: scale(0.5);
}

//

.secondary-btn {
	width: 11rem;
	border-radius: 10px;
	border: 3px solid #ffb703;
	background: none;
	color: white;
	position: relative;
	overflow: hidden;
	transition: 800ms ease, color 800ms ease, transform 500ms ease;
}

.secondary-btn:hover {
	background: #ffb703;
	color: #fff;
}

.secondary-btn:active {
	transform: scale(0.9);
}

#done-button {
	background: none;
	border: 3px solid #90e0ef;
	color: #90e0ef;
	transition: border 300ms ease, transform 800ms ease;
	border-radius: 50px;
}

#done-button:hover {
	transform: scale(1.05);
	border-color: #90e0ef transparent;
}

#done-button:active {
	transform: scale(0.9);
}

//Restart-btn
#restart-button {
	border-radius: 50px;
	border: none;
	background: #a7c957;
	position: relative;
	overflow: hidden;
}

#restart-button::before {
	content: "";
	width: 15rem;
	height: 1.5rem;
	position: absolute;
	top: -70%;
	left: -60%;
	background-color: #f2e8cf5d;
	transform: rotateZ(115deg);
	transition: left 800ms ease, transform 800ms ease;
}

#restart-button:hover:before {
	left: 70%;
}

#restart-button:active {
	transform: scale(0.98);
}

//TO-DO LIST

.todo-btn {
	position: absolute;
	padding: 10px;
	bottom: 0;
	right: 0;
}
