@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Mono&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  font-family: "Kalam", cursive;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  color: hsl(0deg, 0%, 100%);
}

h3 {
  font-size: 1.125rem;
  font-family: "Inconsolata", monospace;
}

.time-display {
  font-size: 1.25rem;
  font-family: "Roboto Mono", monospace;
}

button {
  padding: 2px 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
}

#focus-submit {
  display: none;
}

#restart-button, #done-button {
  display: none;
}

.primary-btn {
  color: white;
  border-radius: 10px;
  border: 2px solid #ffb703;
  background-color: #ffb703;
}

.primary-btn:active {
  transform: scale(0.9);
}

#change-image-button:active {
  transform: scale(0.5);
}

.secondary-btn {
  width: 11rem;
  border-radius: 10px;
  border: 3px solid #ffb703;
  background: none;
  color: white;
  position: relative;
  overflow: hidden;
  transition: 800ms ease, color 800ms ease, transform 500ms ease;
}

.secondary-btn:hover {
  background: #ffb703;
  color: #fff;
}

.secondary-btn:active {
  transform: scale(0.9);
}

#done-button {
  background: none;
  border: 3px solid #90e0ef;
  color: #90e0ef;
  transition: border 300ms ease, transform 800ms ease;
  border-radius: 50px;
}

#done-button:hover {
  transform: scale(1.05);
  border-color: #90e0ef transparent;
}

#done-button:active {
  transform: scale(0.9);
}

#restart-button {
  border-radius: 50px;
  border: none;
  background: #a7c957;
  position: relative;
  overflow: hidden;
}

#restart-button::before {
  content: "";
  width: 15rem;
  height: 1.5rem;
  position: absolute;
  top: -70%;
  left: -60%;
  background-color: rgba(242, 232, 207, 0.3647058824);
  transform: rotateZ(115deg);
  transition: left 800ms ease, transform 800ms ease;
}

#restart-button:hover:before {
  left: 70%;
}

#restart-button:active {
  transform: scale(0.98);
}

.todo-btn {
  position: absolute;
  padding: 10px;
  bottom: 0;
  right: 0;
}

@media (min-width: 320px) and (max-width: 768px) {
  html, body {
    overflow-y: hidden;
  }
}
.input-container {
  display: flex;
}

.focus-field {
  width: 17.25rem;
  padding: 3px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid rgb(255, 255, 255);
  outline-width: 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 60%;
  font-size: 16px;
}

ul li.checked {
  background: green;
  color: white;
  text-decoration: line-through;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

span.checked {
  background: green;
  color: white;
  text-decoration: line-through;
}

body {
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
}

.main-bg {
  background-image: url("/bg-images/bg-5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-row {
  padding: 13px;
}

.region {
  display: grid;
  height: 33vh;
}

.center-above, .center-middle {
  display: flex;
  flex: 1 1 50%;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
}

.center-below {
  display: flex;
  flex-direction: column;
}

#focus-input-container {
  font-size: 1.125rem;
  display: inline;
}

#focus-output-container {
  display: none;
}

.focus-completed {
  text-decoration: line-through;
  color: red;
}

#done-output {
  display: none;
}

h2 {
  color: white;
}

#quote-display {
  text-align: center;
  font-size: 1.125rem;
  height: 1.25rem;
}

.quote-btn-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

#quote-modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(106, 106, 106);
}

#empty-alert {
  display: none;
}

#modal-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: white;
  color: black;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: rgb(0, 0, 0);
}

/* Style the header */
.header {
  background-color: white;
  padding: 30px 40px;
  color: black;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}/*# sourceMappingURL=styles.css.map */